<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="article-title">
    <h2 class="center">
    Title:
    <%= form.text_field :title %>
    </h2>
</div>

<div class="well col-xs-8 col-xs-offset-2 center">
    <h4 class="center">
    Description:
    </h4>
    <div class="article-body">
        <%= form.text_area :description, class: "form-control", id:"exampleFormControlTextarea1" %>
    </div>
    <br>
    <button class="btn btn-primary center" type="submit">Submit</button>
</div>

<% end %>
