<p id="notice"><%= notice %></p>

<h1 class="center">
<% if session[:user_id] != nil %>
<%= link_to 'New article', new_article_path %>
<% end %>
</h1>


<% @articles.each do |article| %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div class="article-title">
                    <strong><%= link_to article.title, article_path(article) %></strong>
                </div>
                <div class="article-body">
                    <%= truncate(article.description, length: 100) %>
                </div>
                <div class="author">
                    Written by <strong><%= article.user.username if article.user %></strong>
                </div>
                <div class="article-actions">
                    <% if session[:user_id] == article.user.id || session[:user_id] == 1 %>
                    <%= link_to 'Edit this article', edit_article_path(article), class: "btn btn-xs btn-primary active" %> |
                    <%= link_to 'Delete this article', article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger active" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>
