<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="well col-xs-8 col-xs-offset-2 center">
<div class="article-title">
    <h2 class="center">
    Username: <br>
    <%= form.text_field :username %>
    </h2>
</div>

<div class="article-title">
    <h2 class="center">
    Email:  
    <br>    
    <%= form.text_field :email %>
    </h2>
</div>

<div class="article-title">
    <h2 class="center">
    Password:  
    <br>    
    <%= form.text_field :password, type: "password" %>
    </h2>
</div>

    <button class="btn btn-primary center" type="submit">Create account</button>
</div>
<% end %>
